= link_to 'Ответить', "#new_post_comment-#{comment.id}", class: 'd-block small text-muted', 'data-bs-toggle': 'collapse'
.collapse data-bs-tagret="#new_post_comment-#{comment.id}" id="new_post_comment-#{comment.id}"
  = render partial: 'posts/comments/form', locals: { url: post_comments_path(@post), parent_id: comment.id }
